<h1><%= link_to @party.name, @party.url %></h1> 

<h2>People</h2> 

<table>
  <tr>
    <th>Person</th>
    <th>Role</th>
    <th>From</th>
    <th>To</th>
  </tr>
 
<% @memberships.each do |membership| %>
  <tr>
    <td><%= link_to membership.person.name, membership.person %></td>
    <td><%= membership.role.title %></td>
    <td><%= membership.start_date or 'unknown' %></td>
    <td><%= membership.end_date or 'current' %></td>
  </tr>
<% end %>
</table>
 
<br />

<%= link_to 'Home', :controller => 'home', :action => 'index' %>
