<h1>Welcome to Accountability</h1>

<h2>Help make politicians more accountable!</h2>

<h2>Browse our data:</h2>

<h2><%= link_to 'People', people_path %></h2>
 
<h2><%= link_to 'Stories', stories_path %></h2>

<h2><%= link_to 'Sources', sources_path %></h2>

<h2><%= link_to 'Parties', parties_path %></h2>

<h2><%= link_to 'Ridings', regions_path %></h2>

<h2><%= link_to 'Contests', contests_path %></h2>

<h2>Coming Soon: Debates</h2>

<h2><%= link_to 'Source for this site', 'https://github.com/BenDoyle/accountability' %> </h2>

